/*
SE ITTP Color Pallet

dark blue = hsl(203, 72%, 30%)
light blue = hsl(198, 79%, 47%)

dark orange = hsl(26, 65%, 45%)
light orange = hsl(33, 94%, 55%)
*/

/* General */
* {
  box-sizing: border-box;
}

:root {
  --light-blue: hsl(198, 79%, 47%);
  --dark-blue: hsl(203, 72%, 30%);
}

body {
  background-image: url('assets/image/bg-image.svg');
  background-size: 128px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


/* Header */
header {
  background-color: var(--dark-blue);
  border-bottom: 8px solid var(--light-blue);
  text-align: center;
}

header img {
  height: 64px;
  padding: 8px;
  margin: 8px 0;
}


/* Section */
section {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section h1 {
  font-size: 4em;
  margin: 0;
  margin-bottom: 4rem;
}

section h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 4em;
  margin: 0;
}

section h3 {
  margin: 0;
}

section h4 {
  margin: 0;
}


/* Player */
.player {
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px gray;
  padding: 8px 16px;
}

.player .icon {
  margin-right: 8px;
}

.player .text h1, .player .text p {
  font-style: italic;
  margin: 0;
}

.player .text h1 {
  font-size: .8em;
}

.player .text p {
  font-size: .7em;
}


/* Footer */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer p {
  font-size: .75em;
  text-align: center;
}


/* Audio */
audio {
  opacity: 0;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

audio:hover {
  opacity: 1;
}